<md-card>
  <md-card-content>

    <h2>
      <md-input-container flex="60" md-no-float>
        <input placeholder="dish name" ng-model="ctrl.dish.name" ng-model-options="{updateOn: 'blur'}"
               ng-change="ctrl.updateName({dish : ctrl.dish})">
      </md-input-container>
    </h2>
    <!--todo-->
    <span ng-show="ctrl.dish.starred">(starred)</span>

    <md-list>
      <md-subheader class="md-no-sticky">ingredients</md-subheader>
      <md-list-item ng-repeat="ingredient in ctrl.dish.ingredients">
        <div flex layout="row">

          <md-list-item>
            <md-checkbox ng-model="ctrl.selected[ingredient.name]" ng-change="ctrl.selectIngredient(ctrl.dish, ingredient)">
            </md-checkbox>
            <md-input-container flex="60" md-no-float>
              <input placeholder="+ add ingredient" ng-model="ingredient.name"
                     ng-change="ctrl.updateIngredient({dish : ctrl.dish, ingredient : ingredient})"
                     ng-model-options="{updateOn: 'blur'}">
            </md-input-container>
            <md-input-container flex="20" md-no-float>
              <input placeholder="amount" ng-model="ingredient.amount"
                     ng-change="ctrl.updateIngredient({dish : ctrl.dish, ingredient : ingredient})"
                     ng-model-options="{updateOn: 'blur'}">
            </md-input-container>
            <md-select flex="20" placeholder="section" ng-model="ingredient.section"
                       ng-change="ctrl.updateIngredient({dish : ctrl.dish, ingredient : ingredient})">
              <md-option ng-repeat="section in ctrl.sections" value="{{section}}">{{section}}</md-option>
            </md-select>
            <!--todo remove button-->
          </md-list-item>

          <!--<div layout-align="end">-->
          <!--<md-button ng-click="ctrl.sendInvite({family : ctrl.family, invite : invite})">remind</md-button>-->
          <!--<md-button ng-click="ctrl.removeInvite({family : ctrl.family, invite : invite})">remove</md-button>-->
          <!--</div>-->
        </div>
      </md-list-item>

    </md-list>

  </md-card-content>

  <div class="md-actions" layout="row" layout-align="end center">
    <md-button ng-show="ctrl.removeButtonVisible" ng-click="ctrl.removeIngredients()">Remove</md-button>
    <md-button ng-show="!dish.addedToWeekMenu" ng-click="ctrl.addToWeekMenu({dish : ctrl.dish})">Add to weekmenu</md-button>
    <md-button ng-show="dish.addedToWeekMenu" ng-click="ctrl.removeFromWeekMenu({dish : ctrl.dish})">Remove from weekmenu
    </md-button>
    <md-button ng-click="ctrl.removeDish({dish : dish})">Remove</md-button>
  </div>


</md-card>
