<div layout="column" flex>

  <toolbar toolbar-title="'Welcome'"></toolbar>

  <md-content>

    <md-card>
      <!--<img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">-->
      <md-card-content>
        <!--<h2 class="md-title">Login</h2>-->

        <div ng-show="welcome.invites.length > 0">
          There's an invitation
          <md-button class="md-raised" aria-label="Accept invitation" ng-click="welcome.acceptInvite(invite)"
                     ng-repeat="invite in welcome.invites">
            Yes! Make me part of this family!
          </md-button>
        </div>

        <div>

          <md-button class="md-raised" aria-label="Setup family"
                     ng-click="welcome.setupFamily()">
            Setup family
          </md-button>
          <family-card family="welcome.family"
                       update-name="welcome.updateName(family)"
                       send-invite="welcome.sendInvite(family, invite)"
                       remove-invite="welcome.removeInvite(family, invite)"
                       ng-show="welcome.family != undefined">
          </family-card>
          <span ng-show="welcome.family != undefined">test</span>
          <md-button class="md-raised" aria-label="Setup family"
                     ng-click="welcome.done()">
            ok done
          </md-button>
          <p/>

          <md-button ng-click="welcome.notNow()">not now</md-button>
        </div>


        <md-progress-linear md-mode="indeterminate" ng-show="welcome.progressing"></md-progress-linear>

      </md-card-content>

    </md-card>
  </md-content>

</div>












