<div layout="column" flex>

  <toolbar toolbar-title="'Welcome'"></toolbar>

  <md-content>

    <md-card>
      <!--<img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">-->
      <md-card-content>
        <!--<h2 class="md-title">Login</h2>-->

        <!--<p>-->
          <!--<md-button class="md-raised md-primary" aria-label="Login with Google" ng-click="login.authenticateWithGoogle()">-->
            <!--<md-icon md-svg-src="assets/images/icons/google-plus-box.svg"></md-icon>-->
            <!--<span>sign in with google</span>-->
          <!--</md-button>-->

          <!--<md-button class="md-raised md-primary" aria-label="Login with Facebook" ng-click="login.authenticateWithGoogle()">-->
            <!--<md-icon md-svg-src="assets/images/icons/facebook-box.svg"></md-icon>-->
            <!--<span>sign in with facebook</span>-->
          <!--</md-button>-->
        <!--</p>-->

      </md-card-content>

    </md-card>
  </md-content>

</div>
