<div layout="column" flex>

  <toolbar toolbar-title="'Welcome'"></toolbar>

  <md-content>

    <md-card>
      <!--<img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">-->
      <md-card-content>
        <!--<h2 class="md-title">Login</h2>-->

        <div ng-show="this.invitation !== undefined">
          <md-button class="md-raised" aria-label="Accept invitation" ng-click="welcome.acceptInvitation()">
            Yes! Make me part of this family!
          </md-button>
        </div>

        <div ng-show="this.invitation === undefined">

          <md-button class="md-raised" aria-label="Request invitation"
                     ng-click="requestInvitation = !requestInvitation">
            Request invitation
          </md-button>
          <div ng-show="requestInvitation">
            <md-input-container>
              <label>Email</label>
              <input ng-model="welcome.request.email" type="email">
            </md-input-container>
            <md-input-container flex>
              <label>Notes</label>
              <textarea ng-model="welcome.request.note"></textarea>
            </md-input-container>
            <md-button class="md-raised md-primary" aria-label="Send invitation"
                       ng-click="welcome.requestInvitation()">
              Send
            </md-button>
          </div>

          <p/>

          <md-button class="md-raised" aria-label="Setup family"
                     ng-click="setupFamily = !setupFamily">
            Setup family
          </md-button>
          <div ng-show="setupFamily">
            <md-input-container>
              <label>Name</label>
              <input ng-model="welcome.family.name" type="text">
            </md-input-container>

            <div layout layout-sm="row" ng-repeat="member in welcome.members">
              <md-input-container flex>
                <label>Email</label>
                <input ng-model="member.email" ng-change="welcome.memberChanged(member)">
              </md-input-container>
            </div>

            <md-button class="md-raised md-primary" aria-label="Save"
                       ng-click="welcome.setupFamily()">
              Send
            </md-button>
          </div>

          <p/>

          <md-button ng-click="welcome.notNow()">not now</md-button>
        </div>


        <!--</p>-->



        <md-progress-linear md-mode="indeterminate" ng-show="welcome.progressing"></md-progress-linear>

      </md-card-content>

    </md-card>
  </md-content>

</div>
