<sidebar sidebar-title="'Altman'"></sidebar>

<div layout="column" flex>

  <toolbar toolbar-title="'Lists'"></toolbar>

  <list-card list="list"
             update-name="listsCtrl.updateName(list)"
             remove-member="listsCtrl.removeMember(list, member)"
             create-invite="listsCtrl.createInvite(list, invite)"
             send-invite="listsCtrl.sendInvite(list, invite)"
             remove-invite="listsCtrl.removeInvite(list, invite)"
             set-active="listsCtrl.setActive(list)"
             remove-me="listsCtrl.removeMe(list)"
             ng-repeat="list in listsCtrl.lists"></list-card>

</div>

<div style="position: fixed; z-index: 30; right: 0; bottom: 0">
  <md-button class="md-fab" aria-label="Setup new List" ng-click="listsCtrl.createList()">
    <md-icon md-svg-src="assets/images/icons/ic_add_circle_black_24px.svg"></md-icon>
  </md-button>
</div>
