<md-card>
  <md-card-content>

    <h2>
      <md-input-container flex="60" md-no-float>
        <input placeholder="family name" ng-model="ctrl.family.name" ng-model-options="{updateOn: 'blur'}"
               ng-change="ctrl.updateName({family : ctrl.family})">
      </md-input-container>
    </h2>
    <span ng-show="ctrl.family.active">(active)</span>

    <md-list>
      <md-subheader class="md-no-sticky">members</md-subheader>
      <md-list-item ng-repeat="member in ctrl.family.members">
        <div flex layout="row">
          <p flex="60">{{ member.name }} {{member.email}} {{member._creator_}}</p>

          <div layout-align="end">
            <!--todo check-->
            <md-checkbox class="md-secondary" ng-model="member.admin"
                         ng-click="member.admin = !member.admin">
              Admin
            </md-checkbox>
            <md-button flex ng-click="ctrl.removeMember({family : ctrl.family, member : member})">remove</md-button>
          </div>
        </div>
      </md-list-item>

      <md-divider></md-divider>

      <md-subheader class="md-no-sticky">invites</md-subheader>
      <md-list-item ng-repeat="invite in ctrl.family.invites">
        <div flex layout="row">
          <md-list-item ng-show="invite.key == undefined">
            <md-input-container flex="60" md-no-float>
              <input placeholder="+ add invite" ng-model="invite.email">
            </md-input-container>
          </md-list-item>
          <span flex="75" ng-show="invite.key != undefined">{{ invite.email }} (last sent: {{invite.lastSent}})</span>
          </any>
          <div layout-align="end">
            <md-button ng-click="ctrl.sendInvite({family : ctrl.family, invite : invite})">remind</md-button>
            <md-button ng-click="ctrl.removeInvite({family : ctrl.family, invite : invite})">remove</md-button>
          </div>
        </div>
      </md-list-item>

    </md-list>

  </md-card-content>

</md-card>
