<sidebar sidebar-title="'Grocies'"></sidebar>

<div layout="column" flex>

  <toolbar toolbar-title="'Week Menu'"></toolbar>

  <md-content>

    <!--todo canEdit may depend on access rights (can't edit if borrowed from another family-->
    <dish-card dish="dish"
               sections="weekMenuCtrl.sections"
               update-name="weekMenuCtrl.updateName(dish)"
               toggle-star="weekMenuCtrl.toggleStar(dish)"
               remove-ingredient="weekMenuCtrl.removeIngredient(dish, ingredient)"
               add-ingredient="weekMenuCtrl.addIngredient(dish, ingredient)"
               update-ingredient="weekMenuCtrl.updateIngredient(dish, ingredient)"
               remove-from-week-menu="weekMenuCtrl.removeFromWeekMenu(dish)"
               can-edit="true"
               can-delete="false"
               ng-show="dish.filteredOut != true"
               ng-repeat="dish in weekMenuCtrl.dishes"></dish-card>

  </md-content>

    <!--<md-card ng-repeat="dish in weekMenu.dishes">-->
      <!--&lt;!&ndash;<img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">&ndash;&gt;-->
      <!--<md-card-content>-->
        <!--<h2 class="md-title">{{dish.name}}</h2>-->

        <!--<p>-->
          <!--{{dish.notes}}-->
        <!--</p>-->

        <!--<ul>-->
          <!--<li ng-repeat="ingredient in dish.ingredients">-->
            <!--{{ingredient.amount}} {{ingredient.name}} {{ingredient.section}}-->
          <!--</li>-->
        <!--</ul>-->

      <!--</md-card-content>-->

      <!--<div class="md-actions" layout="row" layout-align="end center">-->
        <!--<md-button ng-click="weekMenu.remove($event, dish)">Remove</md-button>-->
        <!--<md-button ng-href="#/edit-dish/{{dish.key}}">Edit</md-button>-->
      <!--</div>-->
    <!--</md-card>-->
  <!--</md-content>-->

</div>

<div style="position: fixed; z-index: 30; right: 0; bottom: 0">
  <md-fab-speed-dial md-open="weekMenuCtrl.isOpen" md-direction="left"
                     class="md-fling">
    <md-fab-trigger>
      <md-button aria-label="menu" class="md-fab md-warn">
        <md-icon md-svg-src="assets/images/icons/ic_menu_white_24px.svg"></md-icon>
      </md-button>
    </md-fab-trigger>
    <md-fab-actions>
      <md-button ng-href="#/shoppinglist" aria-label="shopping list" class="md-fab md-raised md-mini">
        <md-icon md-svg-src="assets/images/icons/ic_shopping_basket_black_24px.svg"></md-icon>
      </md-button>
      <md-button ng-href="#/dishes" aria-label="search dish" class="md-fab md-raised md-mini">
        <md-icon md-svg-src="assets/images/icons/ic_search_black_24px.svg"></md-icon>
      </md-button>
      <md-button class="md-fab" aria-label="Setup new Dish" ng-click="weekMenuCtrl.setupDish()">
        <md-icon md-svg-src="assets/images/icons/ic_add_circle_outline_black_24px.svg"></md-icon>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>
</div>
