<sidebar sidebar-title="'Grocies'"></sidebar>

<div layout="column" flex>

    <toolbar toolbar-title="'Dishes'" toolbar-filter-enabled="true" toolbar-filter="dishesCtrl.filter(query)"></toolbar>

    <span ng-show="dishesCtrl.dishes.length == 0">loading</span>

    <md-content style="margin: 16px; box-sizing: border-box;">


        <!--todo adapt grid if small!!!-->

        <!--<card-layout cols-sm="1" colls-md="2" colls-gt="3">-->
        <!-- -->
        <!--</card-layout>-->

        <div ng-repeat="dish in dishesCtrl.dishes"
             style="width:30%; display: inline-block; vertical-align: top; margin-left:5px;margin-right:5px">
            <dish-card dish="dish"
                       sections="dishesCtrl.sections"
                       update-name="dishesCtrl.updateName(dish)"
                       remove-dish="dishesCtrl.removeDish(dish)"
                       toggle-star="dishesCtrl.toggleStar(dish)"
                       remove-ingredient="dishesCtrl.removeIngredient(dish, ingredient)"
                       add-ingredient="dishesCtrl.addIngredient(dish, ingredient)"
                       update-ingredient="dishesCtrl.updateIngredient(dish, ingredient)"
                       add-to-week-menu="dishesCtrl.addToWeekMenu(dish)"
                       remove-from-week-menu="dishesCtrl.removeFromWeekMenu(dish)"
                       can-edit="true"
                       can-delete="true"
                       starred="dishesCtrl.isStarred(dish)"
                       used="dishesCtrl.isUsed(dish)"
                       ng-show="dish.filteredOut != true">

            </dish-card>
        </div>

    </md-content>

</div>

<div style="position: fixed; z-index: 30; right: 0; bottom: 0">
    <md-button class="md-fab" aria-label="Setup new Dish" ng-click="dishesCtrl.createDish()">
        <md-icon md-svg-src="assets/images/icons/ic_add_circle_black_24px.svg"></md-icon>
    </md-button>
</div>
