<md-card>
  <md-card-content>

    <h2>
        {{ctrl.section.name}}
    </h2>

    <md-list>
      <md-subheader class="md-no-sticky">ingredients</md-subheader>
      <md-list-item ng-repeat="ingredient in ctrl.section.ingredients">
        <div flex layout="row">

          <any ng-switch="ctrl.editMode">
            <md-list-item ng-switch-when="true">
              <md-checkbox ng-model="ctrl.selected[ingredient.name]"
                           ng-change="ctrl.selectIngredient(ctrl.section, ingredient)">
              </md-checkbox>
              <md-input-container flex="60" md-no-float>
                <input placeholder="+ add ingredient" ng-model="ingredient.name"
                       ng-change="ctrl.updateIngredient({section : ctrl.section, ingredient : ingredient})"
                       ng-model-options="{updateOn: 'blur'}">
              </md-input-container>
              <md-input-container flex="20" md-no-float>
                <input placeholder="amount" ng-model="ingredient.amount"
                       ng-change="ctrl.updateIngredient({section : ctrl.section, ingredient : ingredient})"
                       ng-model-options="{updateOn: 'blur'}">
              </md-input-container>
            </md-list-item>

            <md-list-item ng-switch-when="false">
              <md-switch class="md-primary" md-no-ink aria-label="Switch Bought"
                         ng-class="{'switched' : ingredient.switched}"
                         ng-model="ingredient.switched"
                         ng-change="ctrl.switchIngredient({section : ctrl.section, ingredient : ingredient})">
                <span>
                  {{ingredient.name}} | {{ingredient.amount}}
                </span>
              </md-switch>
            </md-list-item>
          </any>

        </div>
      </md-list-item>

    </md-list>

  </md-card-content>

  <div class="md-actions" layout="row" layout-align="end center" ng-show="!ctrl.compactMode">
    <md-button ng-show="ctrl.editMode" ng-click="ctrl.toggleEditMode()">Stop Edit</md-button>
    <md-button ng-show="!ctrl.editMode" ng-click="ctrl.toggleEditMode()">Edit</md-button>
    <md-button ng-click="ctrl.removeIngredients()">Remove Ingredients</md-button>
  </div>


</md-card>
