<sidebar sidebar-title="'Grocies'"></sidebar>

<div layout="column" flex>

  <toolbar toolbar-title="'Shopping List'"></toolbar>

  <md-content>

    <md-card ng-repeat="section in shoppingList.sections">
      <md-card-content>
        <h2 class="md-title">{{section}}</h2>

        <ul>
          <li ng-repeat="ingredient in shoppingList.getIngredients(section)">
            {{ingredient.amount}} {{ingredient.name}}
          </li>
        </ul>

      </md-card-content>

      <!--<div class="md-actions" layout="row" layout-align="end center">-->
        <!--<md-button ng-click="dishes.deleteDish($event, dish)">Remove</md-button>-->
        <!--<md-button ng-href="#/edit-dish/{{dish.key}}">Edit</md-button>-->
        <!--<md-button ng-click="dishes.addDishToWeekMenu(dish)">Add to week menu</md-button>-->
        <!--&lt;!&ndash;todo flag op dish niveau? evt berekend adh van weekmenu? subclass van Dish? DishVm&ndash;&gt;-->
        <!--&lt;!&ndash;<md-button ng-click="dishes.removeDishFromWeekMenu(dish)">Add to week menu</md-button>&ndash;&gt;-->
      <!--</div>-->
    </md-card>
  </md-content>

</div>
